In [2]:
import tabula
import pymongo

In [3]:
filepath = "./Rec_Task/1c1edeee-a13e-4b2e-90be-eb1dd03c3384.pdf"
tables =  tabula.read_pdf(filepath, pages="all")

In [4]:
len(tables)

1

In [5]:
tables[0]

             Date            Particulars Type of Interactlon
0  April 06, 2018  SBICAP Securities Ltd          One on One

In [6]:
client = pymongo.MongoClient(port=27017)

In [11]:
db=client.testTask3

In [17]:
a = db.first.insert_many(tables[0].to_dict('records'))

tables[0].to_dict('records')

In [18]:
print(a.inserted_ids)

[ObjectId('5fdf9ffe2895c9dcac507853')]