In [2]:
import camelot

In [3]:
filepath="./Rec_Task/EICHERMOT.pdf"

In [23]:
tables = camelot.read_pdf(filepath, flavor="stream",  table_regions=['306,196,551,276'])

ZeroDivisionError: float division by zero

In [21]:
len(tables)

1

In [22]:
tables[0].df

,0,1,2,3
0,80,,,
1,STATUTORY REPORTS,,,
2,,,(ii) \n \nRecommending the amount of expenditure,7.1 \nMajor Terms of Reference
3,,,to be incurred on the activities referred to in,(i) \n \nTo assist the Board in formulating th...
4,,,CSR policy.,Management Plan and practices.
...,...,...,...,...
76,,,,The members of the Company in their 33rd Annual
77,,,determining the Quantum of Commission to be,
78,,,,"General Meeting held on March 20, 2015 had"
79,,,paid to the Managing Director.,
80,,EICHER MOTORS LIMITED,,

In [13]:
tables[1].df

,0,1,2,3,4,5
0,,General Meeting. The details of remuneration o...,,,,
1,,,,,,(Rs. in Crores)
2,Name of the Director,Salary,Commission,Perquisites,,Service Contract
3,,,,,Tenure,Notice period
4,Mr Siddhartha Lal,3.29,4.20,,1.71 5 years (Members at their,3 months' notice or salary in
5,Managing Director,,,,"AGM held on June 18, 2016,",lieu of notice for 3 months or for
6,,,,,approved re-appointment of,such period which falls short of
7,,,,,Mr Siddhartha Lal as Managing,3 months
8,,,,,"Director w.e.f. May 1, 2016 up to",
9,,,,,"April 30, 2021)",

In [24]:
tables[2]

,Name of the Director,Salary,Commission,Perquisites,Unnamed: 0,Service Contract
0,NaN,NaN,NaN,NaN,Tenure,Notice period
1,Mr Siddhartha Lal,3.29,4.2,1.71,5 years (Members at their,3 months' notice or salary in
2,Managing Director,NaN,NaN,NaN,"AGM held on June 18, 2016,",lieu of notice for 3 months or for
3,NaN,NaN,NaN,NaN,approved re-appointment of,such period which falls short of
4,NaN,NaN,NaN,NaN,Mr Siddhartha Lal as Managing,3 months
5,NaN,NaN,NaN,NaN,"Director w.e.f. May 1, 2016 up to",NaN
6,NaN,NaN,NaN,NaN,"April 30, 2021)",NaN