In [2]:
import camelot
import pymongo

In [3]:
filepath= "./Rec_Task/a6b29367-f3b7-4fb1-a2d0-077477eac1d9.pdf"

In [4]:
tables =  camelot.read_pdf(filepath, line_scale=20)

In [5]:
print(tables.n)

1

In [6]:
print(tables[0].df)

                         0                        1                2
0               Day & Date     Name of Organisation  Type of Meeting
1  Friday.\nApril 06, 2018  HDFC Securities Limited  One-on-one Call

In [7]:
t1 = tables[0].df
t1.columns

RangeIndex(start=0, stop=3, step=1)

In [17]:
t1.columns = t1.loc[0].to_list()
t1 = t1.iloc[1:].reset_index(drop=True)

In [18]:
t1

                Day & Date     Name of Organisation  Type of Meeting
0  Friday.\nApril 06, 2018  HDFC Securities Limited  One-on-one Call