In [8]:
import tabula
import pandas
import pymongo

In [9]:
filepath= "./Rec_Task/a6b29367-f3b7-4fb1-a2d0-077477eac1d9.pdf"

In [10]:
tables =  tabula.read_pdf(filepath, pages="all")

In [11]:
def is_not_nan(val):
    return val == val

def concat_rows(tbl, common_col):
    tmp_df = pandas.DataFrame(columns=tbl.columns)
    ind = -1
    for index, row in tbl.iterrows():
        if(is_not_nan(row[common_col])):
            ind+=1
            tmp_df.loc[ind]=['']*len(tbl.columns)
        for col in tbl.columns:
            tmp_df.loc[ind][col]+=" "+str(row[col] if is_not_nan(row[col]) else "")
            tmp_df.loc[ind][col]=tmp_df.loc[ind][col].strip()
    return tmp_df

def merge_col_row(tbl, last_row):
    col = [str(i if is_not_nan(i) and i.find("Unnamed:") == -1 else "") for i in tbl.columns.to_list()]
    for row_ind in range(last_row+1):
        for col_ind in range(len(col)):
            row_item = tbl.loc[row_ind][col_ind]
            col[col_ind] += " " if len(col[col_ind]) > 0 and col[col_ind][-1]!="/" and col[col_ind][-1]!="(" else ""
            col[col_ind] += str(row_item) if is_not_nan(row_item) else ""
            col[col_ind] = col[col_ind].strip()
    
    tbl.columns = col
    tbl = tbl.iloc[last_row+1:].reset_index(drop=True)
    return tbl

def fill_blank_cell(tbl, column_name):
    for index, row in tbl.iterrows():
        if tbl.loc[index][column_name] == "":
            if index != 0:
                tbl.loc[index][column_name] = tbl.loc[index-1][column_name]
            else:
                tbl.loc[index][column_name] = "-"
    return tbl

In [12]:
print(len(tables))

1

In [13]:
t1 = tables[0]
t1

        Day& Date     Name ofOrganisation   Type ofMeeting
0         Friday.  HDFCSecurities Limited  One-on-one Call
1  April 06, 2018                     NaN              NaN

In [14]:
# merge rows based on a particular column
t1 = concat_rows(t1, 'Type ofMeeting')

In [15]:
t1

                Day& Date     Name ofOrganisation   Type ofMeeting
0  Friday. April 06, 2018  HDFCSecurities Limited  One-on-one Call