In [7]:
import camelot

In [8]:
filepath = "./Rec_Task/d9f8e6d9-660b-4505-86f9-952e45ca6da0.pdf"

In [25]:
tables =  camelot.read_pdf(filepath, line_scale=40, table_regions=['55.43917568206787, 338.21617916107175, 527.2302814865112, 444.62963047027586'])

PdfReadWarning: Invalid stream (index 16) within object 41 0: Stream has ended unexpectedly [pdf.py:1572]

In [23]:
print(tables.n)

1

In [24]:
tables[0].df

,0,1,2,3
0,Date,Name of the analyst/investor,Type,Location
1,"April 4, 2018 Motilal Oswal Asset Management",Company Limited,One-on-One \nmeeting,Mumbai
2,,Credit Suisse \nI,Voice call,- M
3,,"April 5, 2018 Maybank Eng Securities India Pr...",One-on-One \nmeeting,umbai