In [1]:
import tabula

In [2]:
filepath = "./Rec_Task/d9f8e6d9-660b-4505-86f9-952e45ca6da0.pdf"

In [17]:
tables =  tabula.read_pdf(filepath, pages="1", area=(338.21617916107175, 55.43917568206787, 444.62963047027586, 527.2302814865112))

In [18]:
print(len(tables))

1

In [11]:
tables

[            Date          Name of the analyst/investor        Type Location
 0  April 4, 2018        Motilal Oswal Asset Management  One-on-One   Mumbai
 1            NaN                       Company Limited     meeting      NaN
 2            NaN                         Credit Suisse  Voice call        -
 3            NaN                                     I         NaN      NaN
 4  April 5, 2018  Maybank Eng Securities India Private  One-on-One   Mumbai
 5            NaN                               Limited     meeting      NaN]

In [13]:
tables[0]

            Date          Name of the analyst/investor        Type Location
0  April 4, 2018        Motilal Oswal Asset Management  One-on-One   Mumbai
1            NaN                       Company Limited     meeting      NaN
2            NaN                         Credit Suisse  Voice call        -
3            NaN                                     I         NaN      NaN
4  April 5, 2018  Maybank Eng Securities India Private  One-on-One   Mumbai
5            NaN                               Limited     meeting      NaN