In [15]:
import tabula
import pymongo

In [3]:
filepath = "./Rec_Task/1c1edeee-a13e-4b2e-90be-eb1dd03c3384.pdf"
tables =  tabula.read_pdf(filepath, pages="all")

In [16]:
len(tables)

1

In [17]:
tables[0]

             Date            Particulars Type of Interactlon
0  April 06, 2018  SBICAP Securities Ltd          One on One

In [20]:
client = pymongo.MongoClient(port=27017)

In [21]:
db=client.testTask3

In [27]:
db.first.insert_many(tables[0].to_dict('records'))

'{"Date":{"0":"April 06, 2018"},"Particulars":{"0":"SBICAP Securities Ltd"},"Type of Interactlon":{"0":"One on One"}}'