In [16]:
import camelot
import pymongo

In [17]:
filepath= "./Rec_Task/a6b29367-f3b7-4fb1-a2d0-077477eac1d9.pdf"

In [27]:
tables =  camelot.read_pdf(filepath, line_scale=20)

In [28]:
print(tables.n)

1

In [30]:
tables[0].df

                         0                        1                2
0               Day & Date     Name of Organisation  Type of Meeting
1  Friday.\nApril 06, 2018  HDFC Securities Limited  One-on-one Call